{% import 'helpers.j2' as h -%}
package {{ctx.root_namespace}}
{% set metrics = ctx.metrics %}
{%- set all_required_attrs = ctx.metrics | map(attribute="attributes") | flatten | required | unique(attribute="name") | sort(attribute="name") -%}

{%- set extra_label_selectors %}
{%- for name in params.extra_labels %}
, "{{ name }}"=~"${{name}}"
{% endfor -%}
{%- endset -%}

{%- set extra_label_legend -%}
{%- if params.extra_labels | length > 0 -%}
[{%- for l in params.extra_labels -%}
{{ l }}={{ '{{' }}{{l}}{{'}}'}}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor -%}
]
{%- endif -%}
{%- endset -%}

{%- set extra_label_group = params.extra_labels | map('tojson') | join(',') -%}
// Import the appropriate Grafana Foundation SDK packages
import (
	"log"

  "github.com/ArthurSens/demo-weaver-for-dashboarding/dashboards/index"

	"github.com/grafana/grafana-foundation-sdk/go/cog"
	"github.com/grafana/grafana-foundation-sdk/go/common"
	"github.com/grafana/grafana-foundation-sdk/go/dashboard"
	{%- if metrics | selectattr("instrument", "equalto", "gauge") | list | length > 0 %}
	"github.com/grafana/grafana-foundation-sdk/go/gauge"
	{%- endif %}
	"github.com/grafana/grafana-foundation-sdk/go/prometheus"
	"github.com/grafana/grafana-foundation-sdk/go/resource"
	"github.com/grafana/grafana-foundation-sdk/go/timeseries"
)

func init() {
  index.Dashboards = append(index.Dashboards,Build())
}

func DashboardManifest(dash dashboard.Dashboard) resource.Manifest {
	return resource.Manifest{
		ApiVersion: "dashboard.grafana.app/v1beta1",
		Kind:       "Dashboard",
		Metadata: resource.Metadata{
			Name: *dash.Uid,
		},
		Spec: dash,
	}
}

func Build() resource.Manifest {
  prometheusDataSourceRef := dashboard.DataSourceRef{
	Type: cog.ToPtr("prometheus"),
    Uid:  cog.ToPtr("prometheus"),
  }

  // Define our dashboard as strongly typed code
  builder := dashboard.NewDashboardBuilder("{{ctx.root_namespace}}").
    Uid("{{ctx.root_namespace}}-dashboard").
	Tags([]string{"built-with-weaver"}).
	Refresh("5m").
	Time("now-1h", "now").
	Timezone(common.TimeZoneBrowser).
  {%- for attr in all_required_attrs %}
  WithVariable(
    dashboard.NewQueryVariableBuilder("{{ h.to_go_name(attr.name, ctx.root_namespace) }}").
      Datasource(prometheusDataSourceRef).
      IncludeAll(true).
      AllValue(".*").
      Query(dashboard.StringOrMap{
        String: cog.ToPtr(`label_values({{ attr.name }})`),
  })).
  {%- endfor -%}
  {%- for attr in params.extra_labels %}
  WithVariable(
    dashboard.NewQueryVariableBuilder("{{ attr }}").
      Datasource(prometheusDataSourceRef).
      IncludeAll(true).
      AllValue(".*").
      Query(dashboard.StringOrMap{
        String: cog.ToPtr(`label_values({{ attr }})`),
  })).
  {%- endfor -%}
	{%- for metric in metrics %}
	{%- if metric.instrument == "gauge" %}
	WithPanel(
		gauge.NewPanelBuilder().
			Title("{{metric.brief | replace('\n', '\\n') | replace('"', '\\"')}}").
			Datasource(prometheusDataSourceRef).
			WithTarget(
				prometheus.NewDataqueryBuilder().
					Expr(`{
                  "{{metric.metric_name}}"
									{%- for attr in metric.attributes | required %}
									, "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
									{%- endfor -%}
                  {{ extra_label_selectors }}
          }`).
					Range().
					Format(prometheus.PromQueryFormatTimeSeries).
					LegendFormat("__auto"),
			),
	){% if not loop.last %}.{% endif %}
	{%- elif metric.instrument == "histogram" %}
	WithPanel(
		timeseries.NewPanelBuilder().
			Title("{{metric.brief | replace('\n', '\\n') | replace('"', '\\"')}}").
			Datasource(prometheusDataSourceRef).
      {%- for percentile in ['99','90','50'] %}
			WithTarget(
				prometheus.NewDataqueryBuilder().
					Expr(`histogram_quantile(0.{{percentile}}, sum(
							rate({
                "{{metric.metric_name}}_bucket"
                {%- for attr in metric.attributes | required %}
                , "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
                {%- endfor -%}
                {{extra_label_selectors}}
              }[$__rate_interval])
						) by (le,{{ metric.attributes | required | map(attribute="name") | map('tojson') | join(',') }}, {{extra_label_group}}))`).
					Range().
					Format(prometheus.PromQueryFormatTimeSeries).
					LegendFormat("p{{ percentile }}{{extra_label_legend}}{% for attr in metric.attributes | required %} - {{ '{{' }}{{ attr.name }}{{ '}}' }} {%- endfor-%}"),
			).
      {%- endfor %}
			WithTarget(
				prometheus.NewDataqueryBuilder().
					Expr(`sum(rate({
								"{{metric.metric_name}}_sum"
								 {%- for attr in metric.attributes | required %}
								 , "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
								 {%- endfor -%}
              }[$__rate_interval])) by ({{ metric.attributes | required | map(attribute="name") | map('tojson') | join(',') }},{{extra_label_group}})
              /
              sum(rate({
                "{{metric.metric_name}}_count"
								 {%- for attr in metric.attributes | required %}
								 , "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
								 {%- endfor -%}
              }[$__rate_interval])) by ({{ metric.attributes | required | map(attribute="name") | map('tojson') | join(',') }},{{extra_label_group}})`).
					Range().
					Format(prometheus.PromQueryFormatTimeSeries).
					LegendFormat("average{{ extra_label_legend }}{% for attr in metric.attributes | required %} - {{ '{{' }}{{ attr.name }}{{ '}}' }} {%- endfor-%}"),
			),
	){% if not loop.last %}.{% endif %}
	{%- elif metric.instrument == "updowncounter" %}
	WithPanel(
		timeseries.NewPanelBuilder().
			Title("{{metric.brief | replace('\n', '\\n') | replace('"', '\\"')}}").
			Datasource(prometheusDataSourceRef).
			WithTarget(
				prometheus.NewDataqueryBuilder().
					Expr(`sum({
            "{{metric.metric_name}}"
						 {%- for attr in metric.attributes | required %}
						 , "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
						 {%- endfor -%}
             {{ extra_label_selectors }}
          }) by ({{ metric.attributes | required | map(attribute="name") | map('tojson') | join(',') }},{{extra_label_group}})`).
					Range().
					Format(prometheus.PromQueryFormatTimeSeries).
					LegendFormat("__auto"),
			),
	){% if not loop.last %}.{% endif %}
	{%- else %}
	WithPanel(
		timeseries.NewPanelBuilder().
			Title("{{metric.brief | replace('\n', '\\n') | replace('"', '\\"')}}").
			Datasource(prometheusDataSourceRef).
			WithTarget(
				prometheus.NewDataqueryBuilder().
					Expr(`sum(rate({
            "{{metric.metric_name }}"
						 {%- for attr in metric.attributes | required %}
						 , "{{attr.name}}"=~"${{ h.to_go_name(attr.name,ctx.root_namespace) }}"
						 {%- endfor -%}
             {{ extra_label_selectors }}
          }[$__rate_interval])) by ({{ metric.attributes | required | map(attribute="name") | map('tojson') | join(',') }},{{extra_label_group}})`).
					Range().
					Format(prometheus.PromQueryFormatTimeSeries).
					LegendFormat("__auto"),
			),
	){% if not loop.last %}.{% endif %}
	{%- endif %}
	{%- endfor %}

  // Build the dashboard - errors in configuration will be thrown here
  dashboard, err := builder.Build()
  if err != nil {
    log.Fatalf("failed to build dashboard: %v", err)
  }
  return DashboardManifest(dashboard)
}
